header, main{
    padding: 16px;
}
.--negative{
    color: red;
}
.--positive{
    color: rgb(81, 164, 241);
}

article{
    background-color: rgb(236, 239, 244);
    border-radius: 5px;
    width: 80vw;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-bottom: 10%;
    padding: 1rem;

}


.main__items__element{
    grid-template-columns: 1fr 1fr;
}


p, h2{
    font-size: 3.125rem;
    font-weight: bolder;
}
h5{
    font-weight: bolder;
    color: grey;
}

.userName::before{
    content: url('img/facebooLogo.svg');
    

}
.userName2::before{
    content: url('img/twitterLogo.svg');

}

.userName3::before{
    content: url('img/instagramLogo.svg');

    
}

.userName4::before{
    content: url('img/youtubeLogo.svg');
    
}


.--blueTBorder{
    border-top: turquoise 7px solid;
}
.--rainbowBoder{
    border-top: thistle 7px solid;
}
.--redBoder{
    border-top: red 7px solid;
}
img{
    height: 30px;
}
header{
    background-image: linear-gradient(rgb(236, 239, 244), white);
}
h4, .main__title2{
    color: grey;
}

.circle{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: whitesmoke;
}
.turnOn{
    border-radius: 10px;
    height: 25px;
    width: 70px;
    background-color: grey;
    display: flex;
    align-items: center;
}


.header__darkMode{
    display: flex;
    align-items: center;
    color: grey;
}
.turnOn:hover .circle{
    transform: translateX(250%);
}
.turnOn:hover{
    background-color: black;
}
.header__subTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.main__title2{
    padding: 3vh;
}
@media only screen and (min-width: 600px){
    

    .main__items, .header__items{
        column-count: 2;
    }
    article{
        
    width: 40.5vw;}}

@media only screen and (min-width: 1000px){

    .main__items, .header__items{
        column-count: 4;
    }
    article{
    width: 20.5vw;}}