.--negative{
    color: red;
}
.--positive{
    color: turquoise;
}

article{
    background-color: gainsboro;
    border-radius: 5px;
    width: 20.5vw;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-bottom: 10%;

}

.main__items__element{
    grid-template-columns: 1fr 1fr;
}

.main__items, .header__items{
    column-count: 4;
}

p, h2{
    font-size: 3.125rem;
    font-weight: bolder;
}

.userName::before{
    content: url('img/facebooLogo.svg');
    transform: scaleX(1000%);

}
.userName2::before{
    content: url('img/instagramLogo.svg');

}

.userName3::before{
    content: url('img/twitterLogo.svg');
    height: 7vh;
}

.userName4::before{
    content: url('img/youtubeLogo.svg');
    height: 7vh;
}


.--blueTBorder{
    border-top: turquoise 7px solid;
}
.--rainbowBoder{
    border-top: thistle 7px solid;
}
.--redBoder{
    border-top: red 7px solid;
}
img{
    height: 30px;
}
header{
    background-image: linear-gradient(rgb(223, 215, 215), white);
}
h4, .main__title2{
    color: grey;
}